/* Import all css files */

@import "./styles/global.css";
@import "./styles/layout.css";
@import "./styles/dashboard.css";
@import "./styles/auth.css";

/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: "Segoe UI", Arial, sans-serif;
background:#0f172a;
color:white;
}